body{
    background-image: url("pic/wp3978932-candy-wallpapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     /* background: url("pic/download.jfif");  */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(14, 63, 119);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #d4a8a8;
  }
  h1{
    color: rgb(138, 138, 240);
    /* text-align: center; */
    /* background-image: url("pic/images.jfif"); */
    
  }